In [2]:
import matplotlib.pyplot as plt
import pandas as pd

admissions = pd.read_csv("hosp/admissions.csv")

In [4]:
medical_records = pd.read_csv("hosp/omr.csv")

In [15]:
medical_records.shape

(6439169, 5)

In [8]:
medical_records["result_name"].unique()

array(['Blood Pressure', 'Weight (Lbs)', 'BMI (kg/m2)', 'Height (Inches)',
       'Blood Pressure Sitting', 'Blood Pressure Standing (1 min)',
       'Blood Pressure Lying', 'Blood Pressure Standing (3 mins)', 'BMI',
       'Weight', 'Blood Pressure Standing', 'eGFR', 'Height'],
      dtype=object)

In [26]:
bp = medical_records[medical_records["result_name"] == 'Blood Pressure']
bp[bp["subject_id"] == 10000032]["result_value"]

0     110/65
21    106/60
24    121/77
27    100/60
33    102/60
36     98/66
Name: result_value, dtype: object

In [34]:
weight = medical_records[medical_records["result_name"] == 'Weight (Lbs)']
weight = weight.drop_duplicates(["subject_id", "chartdate", "result_value"])
weight_person = weight[weight["subject_id"] == 10000032]["result_value"]
time_person = weight[weight["subject_id"] == 10000032]["chartdate"]

plt.figure(figsize=(10,3))
plt.plot(pd.to_datetime(time_person), pd.to_numeric(weight_person))

In [43]:
diagnoses = pd.read_csv("hosp/diagnoses_icd.csv")

In [49]:
import numpy as np

np.unique(diagnoses["icd_code"], return_counts =True)

(array(['0020', '0029', '0030', ..., 'Z993', 'Z9981', 'Z9989'],
       dtype=object),
 array([   6,    1,   34, ..., 1746, 2931,    8]))

In [50]:
diagnoses

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
4756321    19999987  23865745        7    41401            9
4756322    19999987  23865745        8    78039            9
4756323    19999987  23865745        9     0413            9
4756324    19999987  23865745       10    36846            9
4756325    19999987  23865745       11     7810            9

[4756326 rows x 5 columns]

In [48]:
admissions.shape

(431231, 16)